<!DOCTYPE html>
<html lang="es">

<head>
   <title>J C R | Frontend Boilerplate</title>
   <meta charset="utf-8">
   <meta name="viewport" content="initial-scale=1,width=device-width">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@jcjripa">
   <meta property="og:title" content="Home">
   <meta property="og:description" content="Pagina inicial de JCRBoilerplate">
   <meta property="og:image" content="">

   <style>
      body {
         min-height: 100vh;
         background: skyblue;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .container {
         box-shadow: 0 0 1rem #444;
         background: white;
      }
      .title{
         background: black;
         height: 70px;
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 2rem;
         font-weight: lighter;
      }
      .form{
         padding: 3rem 4rem;
      }
      .btns{
         display: flex;
         justify-content: space-between;
      }
   </style>

</head>

<body>

   <div class="container">
      <div class="row title">
         <div class="col s12">
            <h1 class="center">Contacto Dakeiv</h1>
         </div>
      </div>
      <div class="row form">
         <form class="col s12">
            <div class="row">
               <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Para:</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field col s12">
                  <input id="asunt" type="text" class="validate">
                  <label for="asunt">Asunto</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field col s12">
                  <textarea id="message" class="materialize-textarea"></textarea>
                  <label for="message">Mensaje</label>
               </div>
            </div>
            <div class="btns">
               <button id="send" class="btn-small waves-effect waves-light" >Enviar</button>
               <button id="reset" class="btn-small waves-effect waves-light" >Reset</button>
            </div>
         </form>
      </div>
   </div>
</body>

</html>
